@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* for now  */

/* for now end  */

.link-no-underline {
  text-decoration: none;
  color: inherit;
}

.link-no-underline:hover {
  text-decoration: underline;
}

/* topbar height  */
.e-de-ctnr-toolbar {
  /* height: 180px !important; */
}

.e-de-ctnr-properties-pane-btn {
  display: none;
}

.e-de-pane {
  display: none !important;
}

.e-popup {
  height: 360px !important;
}

.e-content {
  width: 90%;
}

#dialog_538769107_0_dialog-content {
  height: 400px !important;
}

.e-icons.e-font-color {
  background-image: url("./assets/fontcolor.png");
  width: 100px;
  height: 100px;
}

.e-icons.e-text-highlight {
  background-image: url("./assets/fontcolor.png");
  width: 100px;
  height: 100px;
}

#container_editorReview_Tab {
  width: 300px !important;
}

.e-de-ctnr-toolbar {
  display: none !important;
}

#e-split-btn_43_dropdownbtn {
  margin-right: -2px;
}

#dialog_538769107_0 {
  width: 400px !important;
  height: 360px !important;
  overflow-y: scroll;
}

.e-footer-content {
  position: relative !important;
  z-index: 9999 !important;
}

.e-de-search-tab-content {
  margin-top: 44px !important;
}

#dialog_968836386_0 {
  width: 300px !important;
}

#_tab_header_items {
  margin-top: -10px !important;
}

/* #container_editor_font_properties_leftDiv {
  position: absolute !important;
  left: -25% !important;
  top: -90px !important;
} */

/* paragraph  */

/* style */
/* #container_editor_font_properties_leftDiv {
  position: absolute !important;
  left: -81% !important;
  top: -115px !important;
} */

/* align */
/* #container_editor_font_properties_indentWholeDiv {
  position: absolute !important;
  left: -81% !important;
  top: -80px !important;
} */

/* font FAMILY AND SIZE*/
/* #container_editor_font_properties_sizeStyle {
  position: absolute !important;
  left: -62% !important;
  top: -80px !important;
} */

/* font color */
/* #container_editor_font_properties_colorDiv {
  position: absolute !important;
  left: -68% !important;
  top: -115px !important;
} */

/* bulits  */
/* #container_editor_font_properties_listDiv {
  position: absolute !important;
  left: -46% !important;
  top: -115px !important;
} */

/* paragraph heading etc  */
/* #container_editor_font_properties_styleDiv {
  position: absolute !important;
  left: -43% !important;
  top: -115px !important;
} */

/* X power  */
/* #container_editor_font_properties_rightDiv {
  position: absolute !important;
  left: -52% !important;
  top: -115px !important;
} */

/* uppercase  */
/* #container_editor_font_properties_rightDiv2_changeCase_dropdownBtn {
  position: absolute !important;
  left: -56% !important;
  top: -115px !important;
} */

/* .e-de-ctnr-prop-label {
  color: rgba(0, 0, 0, 0.54);
  display: inline-block;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.05px;
  margin-bottom: 12px;
  opacity: 0.87;
  display: none;
} */

/************** paragraph end   ********************** */

/******************** table start ******************************** */

/* dell and insert cell  */
/* .e-de-insert-del-cell {
  position: absolute !important;
  left: -81% !important;
  top: -115px !important;
} */

/* .e-de-ctnr-group-btn-top {
  position: absolute !important;
  left: -81% !important;
  top: -80px !important;
} */

/* .e-de-ctnr-group-btn-middle {
  position: absolute !important;
  left: -75% !important;
  top: -80px !important;
} */

/* .e-de-ctnr-group-btn-bottom {
  position: absolute !important;
  left: -69% !important;
  top: -80px !important;
} */

/* fill color  */
/* .e-de-prop-font-colorpicker {
  position: absolute !important;
  left: -63% !important;
  top: -80px !important;
} */

/* font color  */
/* .e-de-border-clr-picker {
  position: absolute !important;
  left: -69% !important;
  top: -115px !important;
} */

/* border width  */
/* #container_editor_tableBorderSize {
  position: absolute !important;
  left: -64% !important;
  top: -128px !important;
} */

/* cell margin  */
/* .e-de-cellmargin-text {
  position: absolute !important;
  left: -57% !important;
  top: -170px !important;
} */

/* =========================================================================== */
/* *****MEDIA QUESRRY ************** */
@media screen and (max-width: 1450px) {
  /* style */
  /* #container_editor_font_properties_leftDiv {
    left: -68% !important;
    top: -115px !important;
  } */

  /* align */
  /* #container_editor_font_properties_indentWholeDiv {
    left: -68% !important;
    top: -80px !important;
  } */

  /* font color */
  /* #container_editor_font_properties_colorDiv {
    position: absolute !important;
    left: -48.5% !important;
    top: -115px !important;
  } */

  /* font FAMILY AND SIZE*/
  /* #container_editor_font_properties_sizeStyle {
    left: -38% !important;
    top: -80px !important;
  } */

  /* uppercase  */
  /* #container_editor_font_properties_rightDiv2_changeCase_dropdownBtn {
    position: absolute !important;
    left: -30% !important;
    top: -115px !important;
  } */

  /* X power  */
  /* #container_editor_font_properties_rightDiv {
    position: absolute !important;
    left: -24% !important;
    top: -115px !important;
  } */

  /* bulits  */
  /* #container_editor_font_properties_listDiv {
    position: absolute !important;
    left: -15% !important;
    top: -115px !important;
  } */

  /* paragraph heading etc  */
  /* #container_editor_font_properties_styleDiv {
    left: -9% !important;
    top: -115px !important;
  } */

  /******************** table start ******************************** */
  /* dell and insert cell  */
  /* .e-de-insert-del-cell {
    position: absolute !important;
    left: -65% !important;
    top: -115px !important;
  } */

  /* .e-de-ctnr-group-btn-top {
    position: absolute !important;
    left: -65% !important;
    top: -80px !important;
  }

  .e-de-ctnr-group-btn-middle {
    position: absolute !important;
    left: -50% !important;
    top: -80px !important;
  }

  .e-de-ctnr-group-btn-bottom {
    position: absolute !important;
    left: -35% !important;
    top: -80px !important;
  } */

  /* fill color  */
  /* .e-de-prop-font-colorpicker {
    position: absolute !important;
    left: -20% !important;
    top: -80px !important;
  } */

  /* font color  */
  /* .e-de-border-clr-picker {
    position: absolute !important;
    left: -35% !important;
    top: -115px !important;
  } */

  /* border width  */
  /* #container_editor_tableBorderSize {
    position: absolute !important;
    left: -22% !important;
    top: -128px !important;
  } */

  /* cell margin  */
  /* .e-de-cellmargin-text {
    position: absolute !important;
    left: -12% !important;
    top: -170px !important;
  } */
}

@media screen and (min-width: 1450px) and (max-width: 1700px) {
  /* paragraph  */

  /* style */
  /* #container_editor_font_properties_leftDiv {
    left: -75% !important;
    top: -115px !important;
  } */

  /* align */
  /* #container_editor_font_properties_indentWholeDiv {
    left: -75% !important;
    top: -80px !important;
  } */

  /* font color */
  /* #container_editor_font_properties_colorDiv {
    position: absolute !important;
    left: -60% !important;
    top: -115px !important;
  } */

  /* font FAMILY AND SIZE*/
  /* #container_editor_font_properties_sizeStyle {
    left: -51% !important;
    top: -80px !important;
  } */

  /* uppercase  */
  /* #container_editor_font_properties_rightDiv2_changeCase_dropdownBtn {
    position: absolute !important;
    left: -45% !important;
    top: -115px !important;
  } */

  /* X power  */
  /* #container_editor_font_properties_rightDiv {
    position: absolute !important;
    left: -40% !important;
    top: -115px !important;
  } */

  /* bulits  */
  /* #container_editor_font_properties_listDiv {
    position: absolute !important;
    left: -33% !important;
    top: -115px !important;
  } */

  /* paragraph heading etc  */
  /* #container_editor_font_properties_styleDiv {
    left: -28% !important;
    top: -115px !important;
  } */

  /******************** table start ******************************** */
  /* dell and insert cell  */
  /* .e-de-insert-del-cell {
    position: absolute !important;
    left: -75% !important;
    top: -115px !important;
  }

  .e-de-ctnr-group-btn-top {
    position: absolute !important;
    left: -75% !important;
    top: -80px !important;
  }

  .e-de-ctnr-group-btn-middle {
    position: absolute !important;
    left: -63% !important;
    top: -80px !important;
  }

  .e-de-ctnr-group-btn-bottom {
    position: absolute !important;
    left: -51% !important;
    top: -80px !important;
  } */

  /* fill color  */
  /* .e-de-prop-font-colorpicker {
    position: absolute !important;
    left: -39% !important;
    top: -80px !important;
  } */

  /* font color  */
  /* .e-de-border-clr-picker {
    position: absolute !important;
    left: -51% !important;
    top: -115px !important;
  } */

  /* border width  */
  /* #container_editor_tableBorderSize {
    position: absolute !important;
    left: -40% !important;
    top: -128px !important;
  } */

  /* cell margin  */
  /* .e-de-cellmargin-text {
    position: absolute !important;
    left: -20% !important;
    top: -190px !important;
  } */
}

/* @media screen and (max-width: 1600px) {
  #container_editor_font_properties_leftDiv {
    left: 10% !important;
  }
} */

/* table  */
/* .e-de-property-div-padding {
  border-bottom: 0.5px solid #e0e0e0;
  padding: 12.5px;
  position: absolute;
  top: -141px;
  left: -400px;
}

.e-de-grp-btn-ctnr .e-de-ctnr-group-btn {
  height: 85px !important;
  position: absolute;
  top: 50px;
  left: -291px;
}
.e-de-prop-pane .e-de-ctnr-group-btn.e-btn-group:not(.e-outline) {
  box-shadow: none;
  height: 28px;
  position: absolute;
  top: 53px;
}
.e-split-btn-wrapper {
  display: inline-flex;
  white-space: nowrap;
  width: -moz-min-content;
  width: min-content;
  position: absolute;
  left: -90px;
  top: 93px;
}
.de-tbl-fill-clr {
  position: absolute;
  top: 62px;
}
.e-de-insert-del-cell {
  display: inline-flex;
  position: absolute;
  top: 0px;
  left: -170px;
} */
/* end */

/* sidebar hidden  */
.e-de-pane {}

/* .e-de-ctnr-segment { 
  position: absolute !important;
  left: -20% !important;
  top: 121px !important;
  height: 100px; 
} */
.e-tab {
  display: block;
  position: absolute !important;
}

/* 
 
/* .e-btn-group {
  position: absolute !important;
  left: -160px !important;
  
} */

.e-tab .e-content .e-item {
  background: inherit;
  color: #000;
  font-size: 56px;
}

.e-input-group,
.e-input-group.e-control-wrapper {
  display: flex;
  vertical-align: middle;
}